body {
  font-family: 'Roboto', sans-serif;
}

.sidebar {
  background-color: #D3D3D3;
  width: 25%;
  height: 100%;
  text-align: center;
}

.avatar {
  width: 100%;
  border-radius: 25%;
}

.internal-btn {
  width: 100%;
  margin-bottom: 1rem;
}

.contact-btn {
  width:100%;
}
/* .welcome-text {
  padding: 5rem 0 5rem;
} */
