body {
  font-family: 'Roboto', sans-serif;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: inherit;
}

footer {
  height: 150%;
  width:100%;
}

.welcome-body {
  padding: 12%;
}

.icon-link {
  color: inherit;
}

.sidebar {
  background-color: #D3D3D3;
  width: 25%;
  height: 100%;
  text-align: center;
}

.avatar {
  border-radius: 50%;
}

.internal-btn {
  width: 100%;
  margin-bottom: 1rem;
}

.contact-btn {
  width:100%;
}

.welcome-content {
  padding: 25% 0 50% 0;
}

.contact-icon-bar {
  text-align: right;
}

.contact-icon {
  margin-right: 2rem;
  font-size: 1.25rem;
}

.contact-text {
  font-size: 1.25rem;
}


@media (max-width: 768px) {

  body {
    overflow-x: hidden;
  }
  
  footer {
    text-align: center;
  }

  .welcome-content {
    margin-bottom: auto;
    padding-top: 0;
  }

  .contact-text {
    padding-bottom: 1.5rem;
  }

  .contact-icon-bar {
    text-align: center;
  }

  .contact-icon {
    margin:1.5rem;
  }


}

/* .welcome-text {
  padding: 5rem 0 5rem;
} */
